*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
section{
    width:100%;
    height: 100%;;
}
.Container{
    height:100%;
    width:100%;
}
.First{
    background-color:#050a2f;
    padding-top:50px;
    padding-bottom:60px;
    padding-left:30px;
    padding-right: 30px;
    color:#abcddd;
}
.MenuItems{
    display:flex;
    justify-content:space-evenly ;
    list-style: none;
    font-size:18px;
    color:#abcddd;
    padding-top:40px;

}
.MenuItems li{
    padding-bottom:40px;
}
.heading{
    color:#abcddd;;
    text-align:center;
    padding-top:30px;
}
.heading h1{
    margin-top:30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    word-spacing: 0.1em;
}
.heading p{
    word-spacing: 0.2em;
    font-size: 18px;
}
.heading .btn1{
    margin-top:15px;
    padding-top:15px;
    padding-bottom:20px;
    padding-left: 10px;
    padding-right:10px;
    border-radius: 20px;
    font-size: 18px;
    background-color: #abcddd;
    color:#050a2f;
}
/* .services{
    display:flex;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#abcddd ;
    text-align:center;
    
}
.services h1{
    text-transform: uppercase;
    margin:0 auto;
    color:#050a2f;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;


  
}  */
/* .Box{
    padding-top:30px;
    display:flex;


} */
.Second{
    background-color: #abcddd;
    padding-top:30px;
    padding-bottom:30px;
}
.wrapper{
    max-width:500px;
    width:100%;
    background-color:#050a2f;
    margin:20px auto;
    padding:30px;
    box-shadow:1px 1px 2px rgba(0,0,0,0.125);
    /* background-color:#ffd658; */
    /* background:transparent;  */

}
.wrapper .title{
    font-size:24px;
    font-weight:700;
    margin-bottom:25px;
    /* color:#fec107; */
    color:#abcddd;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    width:100%;
  
}
.wrapper .form .input-field{
    margin-bottom:15px;
    display:flex;
    align-items: center;

}
.wrapper .form .input-field label{
    width:200px;
    color:#abcddd;
    margin-right:10px;
    font-size:14px;

}
.wrapper .form .input-field .input,
.wrapper .form .input-field .textarea{
    width:100%;
    outline:none;border:1px solid #d5dbd9;
    font-size:15px;
    padding:8px 10px;
    border-radius: 3px;
    transition:all 0.3s ease;
}
.wrapper .form .input-field .textarea{
    resize:none;
    height:125px;
}
.wrapper .form .input-field .custom-selector{
    position: relative;
    width:100%;
    height:37px;
    color:#abcddd;
}
.wrapper .form .input-field .custom-selector select{
   appearance: none;
    border:1px solid #d5dbd9;
    width:100%;
    height:100%;
    padding:8px 10px;
    border-radius:3px;
    outline:none;
}
.wrapper .form .input-field .custom-selector :before{
    content:"";
    position:absolute;
    top:12px;
    right:10px;
    border:8px solid;
    /* border-color:blueviolet; */
    pointer-events: none;
}
.wrapper .form .input-field .input :focus,
.wrapper .form .input-field .textarea:focus,
.wrapper .form .input-field .select:focus{
    border:1px solid #fec107;
}
.wrapper .form .input-field{
    font-size: 14px;
    color:#abcddd;
    /* color:darkblue; */
}
.wrapper .form .input-field .check{
    width:15px;
    height:15px;
    position: relative;
    display:block;
    cursor:pointer;

}
.wrapper .form .input-field .check[type="checkbox"]{
    position:absolute;
    top:0;
    left:0;
    opacity:0;

}
.wrapper .form .input-field .check .checkmark{
    width:15px;
    height:15px;
    /* border:1px solid #fec107; */
    display: block;
    position: relative;
    /* background:pink; */
}
.wrapper .form .input-field .check .checkmark:before{
    content:"";
    position: absolute;
    top:1px;
    left:1px;
    width:5px;
    height:2px;
    border:2px solid;
    border-color: #fff #fff #fff;
    transform:rotate(-45deg);
    display: none;

}
.wrapper .form.input-field .check input[type="checkbox"]:checked ~ .checkmark:before{
    background-color: #fec107;
}
.wrapper .form.input-field .check input[type="checkbox"]:checked ~ .checkmark:before{
    background-color: #fec107;
    display: block;

}
.wrapper .form .input-field .btn{
    width:100%;
    padding:8px 10px;
    font-size:15px;
    border:0;
    background:#abcddd;
    color:#fff;
    cursor:pointer;
    border-radius: 3px;
    outline:none;

}
.wrapper .form .input-field:last-child{
     margin-bottom:0;
}
.wrapper .form.input-field .btn:hover{
    background:#ffd658;
}
@media(max-width:420px){
    .wrapper.form .input-field{
        flex-direction:column;
        align-items: flex-start;
} 
     }
       
    .wrapper.form .input-field label{
        margin-bottom:5px;
    }
    .wrapper.form .input-field .terms{
        flex-direction: row;

    }